/* CDN Fonts */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.min.css');

/* CSS Variables */
:root {
  --font-ko-main: 'Pretendard', sans-serif;
  --font-ko-sub: 'Pretendard', sans-serif;
  --color-primary: #F5F4F1;
  --color-secondary: #723F37;
}